# Core para Manipulação de Dados
polars
pandas
numpy

# Core para Machine Learning
scikit-learn
lightgbm
xgboost

# Otimização de Hiperparâmetros
optuna

# Visualização e Salvamento de Artefatos
matplotlib
joblib